body {
    background-image: url(coffee-background.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    color: #000;

}

.main {
    width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
.heading {
    
    color: red;
    text-align: center;
    font-size: 35px;
    text-decoration: underline;
}
.objectives{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal ;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    margin: auto;   
    padding-left: 10px;
}

.obj {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:italic ;
    color: #000;
    font-weight: normal;
    font-size: 13px;
    margin: auto;   
    padding-left: 10px;
}
.major-Text {

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavour, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }

